/* All the CSS related to answers Page*/
.answer_container {
  display: flex;
  flex-direction: column;
  border-bottom: #000000 1px dashed;
}

.answer {
  display: flex;
  flex-direction: row;
}

.answerText {
  width: 75%;
}

.answerAuthor {
  margin-left: 5%;
}

.answer_author {
  color: green;
}

.comment_container {
  margin-left: 10px;
  border-top: 1px solid #ccc;
}

.add_comment_button {
  margin-left: 5px;
}
